@import  '../colores';

.type-water {
    background-color: $water;

}
.type-fire {
    background-color: $fire;
 
}
.type-normal{
    background-color:$normal;
   
}
.type-fighting{
    background-color: $fighting;
    
}
.type-flying{
    background-color: $flying;
    
}
.type-poison{
    background-color: $poison;
   
}
.type-ground{
    background-color: $ground;
  
}

.type-rock{
    background-color: $rock; 
 
}
.type-bug{
    background-color: $bug;
 
}
.type-ghost{
    background-color: $ghost;
   
}
.type-steel{
    background-color: $steel;
    
}
.type-grass{
    background-color: $grass;
 
}
.type-electric{
    background-color: $electric;
   
}
.type-psychic{
    background-color: $psychic;
}
.type-ice{
    background-color: $ice;

}
.type-dragon{
    background-color: $dragon;
   
}
.type-dark{
    background-color: $dark;
    
}
.type-fairy{
    background-color: $fairy;

}
.type-unknown{
    background-color: $unknown;
 
}